<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiwan.dsp.console.mapper.ScheduleTaskMapper">

    <delete id="deleteBatchByTaskIds" parameterType="integer">
        delete from dsp_schedule_task
        <where>
            task_id in
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <foreach collection="taskIds" item="taskId" separator=",">
                    #{taskId}
                </foreach>
            </trim>
        </where>
    </delete>

    <resultMap id="scheduleTaskMap" type="com.weiwan.dsp.console.model.entity.ScheduleTask">
        <result column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="task_name" property="taskName"/>
        <result column="task_type" property="taskType"/>
        <result column="task_class" property="taskClass"/>
        <result column="task_configs" property="taskConfigs"/>
        <result column="task_desc" property="taskDesc"/>
        <result column="task_cron_expr" property="taskCronExpr"/>
        <result column="task_status" property="taskStatus"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectAppTaskMapByTaskNames" parameterType="string" resultMap="scheduleTaskMap">
        select *
        from dsp_schedule_task
        <where>
            task_name in
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <foreach collection="taskNames" item="taskName" separator=",">
                    #{taskName}
                </foreach>
            </trim>
        </where>
    </select>
</mapper>